<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/main.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	
    {{#if artistsCSS}}
        <link rel="stylesheet" type="text/css" href="/css/actors.css">
	    <script src="/js/actors.js"></script>
    {{/if}}
    {{#if formsCSS}}
        <link href='/css/forms.css' rel='stylesheet'/>
    {{/if}}
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/artists">Logout</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>