<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href='/css/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	
    {{#if artistsCSS}}
        <link rel="stylesheet" type="text/css" href="/css/home.css">
	    <script src="/js/actors.js"></script>
    {{/if}}
</head>

<body>
    <header class="top-header">
        <nav class="nav">
            <form class="logout-form" action="/logout" method="GET">
                <button type="submit" class="logout">Logout</button>
            </form>
        </nav>
    </header>

    {{{ body }}}
</body>
</html>