<main>
    <form class="product-form" action="/peoples/add" method="POST">
        <div class="form-control">
            <label for="title">Name</label>
            <input type="text" name="name" value='Josh'>
        </div>
        <div class="form-control">
            <label for="title">About</label>
            <input type="text" name="about" value='Best of the season'>
        </div>
        <div class="form-control">
            <label for="title">ImageURL</label>
            <input type="text" name="url" value='https://randomuser.me/api/portraits/med/men/65.jpg'>
            <button class="btn" type="submit">Add People</button>
        </div>
    </form>
</main>
