<div>
    <h2 id="login-header">{{header}}</h2>
    
    <form id="login" action="/login" method="POST">
        
        <img id="profile-img" src="../public/resources/img/profile.png" />
        <input id="username" name="username" placeholder="username" type="text"/> 
        
        <br />

        <img id="password-img" src="../public/resources/img/lock.png" />
        <input id="password" name="pass" placeholder="password" type="password"/>
        
        <br />

        <button class="btn" id="login-btn" type="submit">Login</button>
    </form>

</div>