
/* ----FLEXBOX---- */


.flex-container, .inner-flex {
	display: flex;
}

.flex-container{
	flex-direction: column;
	width: 20rem;
}



/*  ----	GENERAL CSS (styles, fonts, colours, etc) ----  */

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	padding: 40px;
}

.header{
	width: 25rem;
	text-align: center;
	margin: auto;
	padding-bottom: 1.5rem;
}

.header input{
	width: 20rem;
	padding: 0.5rem;
}

.name{
	font-weight: bold;
	font-size: 1rem;
	font-family: 'Ubuntu', sans-serif;
}

.description{
	font-size: 0.8rem;
}

.name, .description{
	color: #414141;
}

.artist-row:hover{
	background-color: #f7f7f7;
	cursor: pointer;
}




/* 	---- BORDERS ---- */


.header, #artist-table, .header input{
	border: 1px solid #e3e3e3;
}

.artist-row{
	border-bottom: 1px solid #e3e3e3;
}
.artist-row:last-child{
	border-bottom: none;
}

#artist-table{
	border-spacing: 0;
	margin: auto;
	border-top: none;
	border-collapse: collapse;
}


.artist-img{
	margin: 0.2rem 1rem;
	border: 1px solid transparent;
	border-radius: 0.5rem;
}




#addActor{
    display: none;
}