
.flex-container, .actor-flex-1, #empty-table {
	display: flex;
}

.flex-container{
	flex-direction: column;
	width: 25rem;
}

/*  ----	GENERAL CSS (styles, fonts, colours, etc) ----  */

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	padding: 40px;
}

.header{
	max-width: 35rem;
	text-align: center;
	margin: auto;
	padding-bottom: 1.5rem;
}

.header input{
	width: 20rem;
	padding: 0.5rem;
}

.actor_name{
	font-weight: bold;
	font-size: 1rem;
	font-family: 'Ubuntu', sans-serif;
}

.desc_of_actor{
	font-size: 0.8rem;
}

.actor_name, .desc_of_actor{
	color: #414141;
}

.actor-element:hover{
	background-color: #f7f7f7;
	/* cursor: pointer; */
}




/* 	---- BORDERS ---- */


.header, #artist-table, .header input, #empty-table{
	border: 1px solid #e3e3e3;
}

.actor-element{
	border-bottom: 1px solid #e3e3e3;
}
.actor-element:last-child{
	border-bottom: none;
}

#artist-table{
	border-spacing: 0;
	margin: auto;
	border-collapse: collapse;
}

.actor-avatar{
	margin: 0.2rem 1rem;
	border: 1px solid transparent;
	border-radius: 0.5rem;

    width: 4rem;
}

.actor_details{
    width: 10rem;
}

.add-actor-section{
    text-align: center;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

.add-actor-section input{
    padding: 0.5rem 4rem;
    text-align: center;
}

.btn {
    padding: 0.6rem 2rem;
    background: #cecece;
    border: 1px solid transparent;
	cursor: pointer;
}


.delete{
    align-self: center;
    margin: auto;
    width: 3rem;
}

.delete button{
    background: #f02323;
	color: white;
	cursor: pointer;
    border-radius: 10%;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
}

#add-actor-error{
	color: red;
}

#empty-table span {
	text-align: center;
	margin: auto;
	padding: 3rem;
}