
/* ----FLEXBOX---- */


.flex-container, .inner-flex {
	display: flex;
}

.flex-container{
	flex-direction: column;
	width: 25rem;
}



/*  ----	GENERAL CSS (styles, fonts, colours, etc) ----  */

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	padding: 40px;
}

.header{
	width: 30rem;
	text-align: center;
	margin: auto;
	padding-bottom: 1.5rem;
}

.header input{
	width: 20rem;
	padding: 0.5rem;
}

.actorname{
	font-weight: bold;
	font-size: 1rem;
	font-family: 'Ubuntu', sans-serif;
}

.actordescription{
	font-size: 0.8rem;
}

.actorname, .actordescription{
	color: #414141;
}

.artist-row:hover{
	background-color: #f7f7f7;
	cursor: pointer;
}




/* 	---- BORDERS ---- */


.header, #artist-table, .header input{
	border: 1px solid #e3e3e3;
}

.artist-row{
	border-bottom: 1px solid #e3e3e3;
}
.artist-row:last-child{
	border-bottom: none;
}

#artist-table{
	border-spacing: 0;
	margin: auto;
	border-collapse: collapse;
}


.artist-img{
	margin: 0.2rem 1rem;
	border: 1px solid transparent;
	border-radius: 0.5rem;

    width: 4rem;
}

.details{
    width: 10rem;
}

.add-actor-section{
    text-align: center;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

.add-actor-section input{
    padding: 0.5rem 4rem;
    text-align: center;
}

.btn {
    padding: 0.6rem 2rem;
    background: #cecece;
    border: 1px solid transparent;
}


.delete{
    align-self: center;
    margin: auto;
    width: 3rem;
}

.delete button{
    background: #f02323;
    color: white;
    border-radius: 10%;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
}

#add-actor-error{
	color: red;
}